@{ ViewData["Title"] = "Đơn vị tính"; }

<div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 breadcrumbs-left">
                <ol class="breadcrumbs mb-0">
                    <li class="breadcrumb-item">
                        <a href="/Config/MembershipType">Thành viên</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/LoaiBaiViet">Bài viết</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/Product">Dịch vụ</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/Unit">Đơn vị tính</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/Ward">Xã</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/City">Huyện</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/Config/Province">Tỉnh</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <h6>Danh mục Đơn vị tính</h6>
                <div class="row">
                    <div class="col s12 m12 l12">
                        @(Html.Kendo().Grid<VNPT.Data.Models.Config>()
.Name("Config")
.Columns(columns =>
{
    columns.Command(command => { command.Edit().Text("&nbsp;").CancelText("&nbsp;").UpdateText("&nbsp;").IconClass("fas fa-edit").HtmlAttributes(new { style = "font-size: 16px; padding-left:16px; padding-top:6px; border-radius: 6px; font-weight:bold; width:50px;" }); command.Destroy().Text("&nbsp;").IconClass("fas fa-trash-alt").HtmlAttributes(new { style = "font-size: 16px; color:#ffffff; background-color:#d73925; padding-left:16px; padding-top:6px; border-radius: 6px; width:50px;" }); }).Width(150);
    columns.Bound(t => t.ID).Title("ID").Width(50);
    columns.Bound(t => t.Title).Title("Đơn vị tính").Width(300);
    columns.Bound(t => t.Note).Title("Ghi chú").Width(200);
    columns.Bound(t => t.SortOrder).Title("Sắp xếp").Width(300);
})
.ToolBar(toolBar => toolBar.Create().Text("&nbsp;").IconClass("fas fa-plus").HtmlAttributes(new { style = "font-size: 16px; border-radius: 6px; font-weight:bold; background-color:#009966; color:#ffffff; padding-left:16px;" }))
.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.Title); search.Field(f => f.Note);})
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);
    model.Field(t => t.ID).Editable(false);
})
.Events(t => { t.RequestEnd("onGridRequestEnd"); })
.Read(t => t.Action("GetUnitToList", "Config"))
.Destroy(t => t.Action("Delete", "Config"))
.Create(t => t.Action("CreateUnit", "Config"))
.Update(t => t.Action("Update", "Config"))
)
)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#Config").data("kendoGrid").dataSource.read();
        }
    }
</script>
