
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - VNPT Bà Rịa - Vũng Tàu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="VNPT Bà Rịa - Vũng Tàu">
    <meta name="keywords" content="VNPT Bà Rịa - Vũng Tàu">
    <meta name="author" content="VNPT Bà Rịa - Vũng Tàu">
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/flag-icon/css/flag-icon.min.css">

    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/horizontal-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/horizontal-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/layouts/style-horizontal.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/custom/custom.css">
    <link href="https://kendo.cdn.telerik.com/2020.2.617/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.617/js/kendo.aspnetmvc.min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script>
        function BeginRequestHandler() {
            Slider();
        }
        function EndRequestHandler() {
            $('#Dim').css("display", "none");
            $('#BackGround').fadeTo("fast", 2);
        }
        function Slider() {
            $('#Dim').css("display", "");
            $('#Dim').css("z-index", "10");
            $('#Dim').css("position", "absolute");
            $('#Dim').css("top", ($(window).height() - $('#Dim').height()) / 2 + $(window).scrollTop() + "px");
            $('#Dim').css("left", ($(window).width() - $('#Dim').width()) / 2 + $(window).scrollLeft() + "px");
            $('#BackGround').fadeTo("fast", 0.5);
            $('#Dim').focus();
        }
        function OpenWindowByURL(URLParamater, w = 100, h = 200) {
            var width01 = screen.width - w;
            var height01 = screen.height - h;
            var left = (screen.width - width01) / 2;
            var top = (screen.height - height01) / 3;
            var url = URLParamater;
            window.open(url, '_blank', 'location=yes,height=' + height01 + ',width=' + width01 + ',scrollbars=yes,status=yes,toolbar=yes,top=' + top + ',left=' + left + '');
        }
    </script>
</head>
<body class="horizontal-layout page-header-light horizontal-menu 2-columns  " data-open="click" data-menu="horizontal-menu" data-col="2-columns">
   

    <header class="page-topbar" id="header">
        <div class="navbar navbar-fixed">
            <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li>
                            <h1 class="logo-wrapper"><a title="VNPT Bà Rịa - Vũng Tàu" class="brand-logo darken-1" href="http://vnptvungtau.vn/"><img src="/images/logo.png" title="VNPT Bà Rịa - Vũng Tàu" alt="VNPT Bà Rịa - Vũng Tàu"><span class="logo-text hide-on-med-and-down">VNPT</span></a></h1>
                        </li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="material-icons">search</i>
                        <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Bạn cần gì?">
                    </div>

                </div>
                <nav class="display-none search-sm">
                    <div class="nav-wrapper">
                        <div class="input-field">
                            <input class="search-box-sm" type="search" required="">
                            <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                        </div>
                    </div>
                </nav>
            </nav>

        </div>
    </header>

    <div id="main" style="margin:0px; margin:auto;">
        @RenderBody()
    </div>

    <script src="/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <script src="/app-assets/vendors/formatter/jquery.formatter.min.js"></script>
    <script src="/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="/app-assets/js/scripts/form-masks.js" type="text/javascript"></script>
</body>
</html>