@{ ViewData["Title"] = "Hỗ trợ"; }

@model VNPT.Data.Models.PhieuYeuCau

<div class="row">
    <div class="col s3">
    </div>
    <div class="col s6">
        <div id="basic-demo" class="card card-tabs">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s12 m6 l10">
                            <h3 class="card-title">Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</h3>
                        </div>                       
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>
<div class="col s3">
</div>
</div>