.btn {
    height: 38px;
    width: 100%;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.KendoGrid {
    font-size: 12px;
    height: 600px;
}

@media (max-height: 700px) {
    .KendoGrid {
        height: 450px;
    }
}

@page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}

body {
    margin: 0px; /* this affects the margin on the content before sending to printer */
}


* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}

.border, .border td, .border th {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.border {
    border-collapse: collapse;
}

    .border th {
        text-align: center;
    }

    .border td {
        text-align: right;
    }

    .border .text {
        text-align: left;
    }

.border01, .border01 td, .border01 th {
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.border01 {
    border-collapse: collapse;
}

    .border01 th {
        text-align: center;
    }

    .border01 td {
        text-align: right;
    }

    .border01 .text {
        text-align: left;
    }
