@{ ViewData["Title"] = "Phiếu yêu cầu"; }

@model VNPT.CRM.Models.BaseViewModel


<div class="row">
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m6 l2">
                        @(Html.Kendo().DropDownListFor(Model => Model.YearFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetYearFinanceToList", "AppGlobal")))
                            )
                    </div>
                    <div class="col s12 m6 l2">
                        @(Html.Kendo().DropDownListFor(Model => Model.MonthFinance)
                     .DataValueField("Display")
                     .DataTextField("Display")
                     .HtmlAttributes(new { @class = "form-control" })
                     .DataSource(dataSource => dataSource.Ajax().Read(t => t.Action("GetMonthFinanceToList", "AppGlobal")))
                            )
                    </div>
                    <div class="col s12 m6 l2">
                        <a onclick="onSearch()" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-1 border-round"><i class="material-icons">search</i></a>
                    </div>
                    <div class="col s12 m6 l2">
                        <a asp-route-ID="0" asp-action="Detail" asp-controller="PhieuYeuCau" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-1 border-round"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col s12 m12 l12">
                        @(Html.Kendo().Grid<VNPT.Data.DataTransferObject.PhieuYeuCauDataTransfer>()
.Name("PhieuYeuCau")
.Columns(columns =>
{
    columns.Command(command => { command.Destroy().Text("&nbsp;").IconClass("fas fa-trash-alt").HtmlAttributes(new { style = "font-size: 16px; color:#ffffff; background-color:#d73925; padding-left:16px; padding-top:6px; border-radius: 6px; width:50px;" }); }).Width(70);
    columns.Template(@"<a target='_blank' href='/PhieuYeuCau/Detail?ID=#=ID#' style='color: blue;'><i class='material-icons'>border_color</i></a>").Title("").Width(70).HtmlAttributes(new { style = "text-align:center;" });
    columns.Template(@"<a target='_blank' href='/PhieuYeuCau/Info?ID=#=ID#' style='color: blue;'><i class='material-icons'>open_in_new</i></a>").Title("").Width(70).HtmlAttributes(new { style = "text-align:center;" });
    columns.Bound(t => t.DaGui).Title("Đã gửi").Width(120);
    columns.Bound(t => t.DangXuLy).Title("Đang xử lý").Width(120);
    columns.Bound(t => t.HoanThanh).Title("Hoàn thành").Width(120);
    columns.Bound(t => t.ProductName).Title("Dịch vụ").Width(200);
    columns.Bound(t => t.NguoiTao).Title("Họ tên").Width(200);
    columns.Bound(t => t.DienThoai).Title("Điện thoại").Width(120).HtmlAttributes(new { @class = "text-right" });
    columns.Bound(t => t.TaxCode).Title("Mã số thuế").Width(120).HtmlAttributes(new { @class = "text-right" });
    columns.Bound(t => t.NgayTao).Title("Ngày tạo").Width(200).Format("{0:MM/dd/yyyy HH:mm:ss}").HtmlAttributes(new { @class = "text-right" });
    columns.Bound(t => t.ID).Title("ID").Width(100);
})

.ToolBar(toolBar => toolBar.Search())
.Editable(editable => editable.Mode(GridEditMode.InLine))
.Sortable()
.Scrollable()
.Reorderable(r => r.Columns(true))
.Resizable(r => r.Columns(true))
.Pageable(pageable => pageable
.Refresh(true)
.PageSizes(true)
.ButtonCount(10))
.Excel(excel => excel
.FileName("Config.xlsx")
.Filterable(true)
.ProxyURL(Url.Action("ExportExcel", "Config"))
)
.Pdf(pdf => pdf
.AllPages()
.AvoidLinks()
.PaperSize("A4")
.Margin("2cm", "1cm", "1cm", "1cm")
.Landscape()
.RepeatHeaders()
.FileName("Config.pdf")
)
.HtmlAttributes(new { @class = "KendoGrid" })
.Search(search => { search.Field(f => f.ProductName); search.Field(f => f.KhachHang); search.Field(f => f.TieuDe); })
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(1000)
.Model(model =>
{
    model.Id(t => t.ID);
    model.Field(t => t.ID).Editable(false);
})
.Events(t => { t.RequestEnd("onGridRequestEnd"); })
.Read(t => t.Action("GetByYearAndMonthDoKhachHangGuiToList", "PhieuYeuCau").Data("filterPhieuYeuCau"))
.Destroy(t => t.Action("Delete", "PhieuYeuCau"))
)
)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@(Html.Kendo().Notification()
    .Name("Notification")
    .Position(p => p.Pinned(true).Top(30).Right(30))
    .Width(400)
)

<script>
    function onGridRequestEnd(e) {
        if ((e.type == "create") || (e.type == "update") || (e.type == "destroy")) {
            var response = e.response;
            var messageType = response.split('-')[0];
            var note = response.split('-')[1];
            var notification = $("#Notification").data("kendoNotification");
            notification.show(note, messageType);
            $("#PhieuYeuCau").data("kendoGrid").dataSource.read();
        }
    }
    function filterPhieuYeuCau(e) {
        var yearValue = $("#YearFinance").data("kendoDropDownList").value();
        var monthValue = $("#MonthFinance").data("kendoDropDownList").value();    
        return { year: yearValue, month: monthValue};
    }
    function onSearch() {
        $("#PhieuYeuCau").data("kendoGrid").dataSource.read();
    }
</script>
