@{ ViewData["Title"] = "Phiếu yêu cầu Hóa đơn điện tử"; }

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card card card-default scrollspy">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <b>Phiếu yêu cầu Hóa đơn điện tử</b>
                    </div>
                    <div class="col s12 m6 l2">
                    </div>
                    <div class="col s12 m6 l2">
                    </div>
                    <div class="col s12 m6 l2">    
                        <a target="_blank" href="/AM_PhieuYeuCau/Detail?ID=0" style="height:46px; padding-top:6px;" class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-1 border-round"><i class="material-icons">add</i></a>
                    </div>
                    <div class="col s12 m12 l12">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
